body {
    background-color: #f4f6f9;
    font-family: "Segoe UI", sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    border-radius: 12px;
}

h3 {
    font-weight: 600;
}

.table th, .table td {
    text-align: center;
}

.alert {
    border-radius: 10px;
}
